
<table align="center"  border= "6px green">
<tr>
    <td>
    <strong>Commenter</strong>
    </td>
    <td>
    <strong>Comment</strong>
    </td>
    <td>
    <strong>Destroy</strong>
    </td>
</tr>
<tr>
    <td>
    <%= gravatar_for comment.commenter%>
    <%= comment.commenter %>
    
    </td>
    <td>
    <%= comment.body %>
    </td>
    <td>
    <% if current_user.admin or @article.user_id == current_user.id %>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
    <% end %>
    </td>
</tr>
</table>