<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-color: #f3ead8">

<div class="w3-bar w3-black" >
 
  <a class="w3-bar-item w3-button" href="/" class="w3-bar-item w3-button">Home</a>
  <a class="w3-bar-item w3-button" href="/articles/new" class="w3-bar-item w3-button">New Artcle</a>

 
</div>
<style>
button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
</style>

<div>
  <div>

  <h1 align="center" > Blog App</h1>


  <ul>
 
  </ul>


<div align = "right">

  <div class="w3-card-4" align = "center">
    <header class="w3-container ">
      <h1>Articles</h1>
      <p>Our blog has <%= Article.public_count %> articles and counting! </p>
      <p>Our blog has <%= Comment.public_count %> comments and counting! </p>
    </header>

    <div class="w3-container">
    <table align="center"  border= "6px green">
    <tr><td>
    <p>Title </p>
    <td>
    <p>Body </p>
    </td>
    </td></tr>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
        <tr>
        <td>
            <%= link_to article.title, article %>
            </td>
           
            <td>
            <%= link_to article.body, article %>
            </td></tr>
        <% end %>
      <% end %>
      <table>
    </div>

    <footer class="w3-container ">
      <h5></h5>
    </footer>
  </div>
</div>
</div>
</div>
</div>
</body>
</html>
